* {
   padding: 0;
   margin: 0;
   font-family: "sans-serif";
}
.back {
   background-color: #F8F8F8;
   padding: 10px 20px 10px 20px;
   width: 20px;
   height: 20px;
}

.back_back {
   background-color: #F8F8F8;
}
.back_back a{
   text-decoration: none;
   color: black;
   font-weight: 500;
   padding: 15px;
}
.contact_head{
   margin-top: 0px;
   font-size: 40px;
}
section {
   height: 100vh;
   width: 100%;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.container {
   width: 90%;
   max-width: 500px;
   margin: 0 auto;
   padding: 20px;
   background-color: white;
   border-radius: 8px;
   margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}
.form-group input,
.form-group textarea {
  width: 90%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 60%;
  border: none;
  outline: none;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  border-radius: 20px;
  font-family: "sans-serif";
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  background-color: #00A273;
  font-weight: 500;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.email_text{
   margin-right: 30px;
}
