
*{
   margin: 0px;
   padding: 0px;
   font-family: sans-serif;
}
.title_logo{
   width: 30px;
   height: 30px;
   margin: 10px;
   filter: invert(100%);
   margin-left: 30px;
}
.title{
   font-size: 18px;
   margin: 15px;
   color: #FFFFFF;
   display: none;
   
}
.head{
   display: flex;
   background-color: #1F1F1F;
}
.home{
   margin: 30px 30px 30px 30px;
   
}
.home_name{
   margin-top: 60px;
   animation-name: fad_in;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   position: relative;
}
.name{
   color: #005AFF;
   font-weight: bold;
   font-size: 60px;
}
.i_am{
   margin-top: 60px;
   line-height: 10px;
   color: #414141;
   font-size: 30px;
}
.know{
   font-size: 30px;
   color: #414141;
   margin-left: 10px;
   margin-top: 20px;
}
.tash{
   font-size: 50px;
   margin-left: 10px;
   line-height: 50px;
   font-weight: 600;
   color: #005AFF;
   width: 10px;
}
.s_d{
   color: #262626;
   margin-top: 20px;
   animation-name: fad_in;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   position: relative;
}
.home_small_about{
   padding-left: 15px;
   padding-top: 5px;
   margin-top: 0px;
   font-size: 17px;
   color: #525252;
   margin-bottom: 20px;
   animation-name: fad_in;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   position: relative;
}
.contact{
   text-decoration: none;
   background-color: #00A273;
   padding: 10px 30px 10px 30px;
   color: white;
   line-height: 30px;
   border-radius: 20px;
   animation-name: fad_in;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   position: relative;
   
}
.about{
   background-color: #EBEBEB;
   padding: 40px 30px 40px 30px;
   animation-name: fad_in;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   position: relative;
   
}
.about_tit{
   font-size: 40px;
}
.about_para{
   margin-top: 20px;
   padding-left: 15px;
   color: #303030;
}
.games{
   padding: 40px 30px 40px 30px;
}
.games_tit{
   font-size: 40px;
}
.raze2div{
   padding: 20px 0px 0px 15px;
}
.raze2, .raze, .ttt{
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #005AFF;
}
.a_f_a{
   color: #2D2D2D;
   font-size: 13px;
   line-height: 10px;
}
.footer{
   padding: 40px 30px 40px 30px;
   background-color: #2D2D2D;
}
.my_links_tit{
   color: #FFFFFF;
   font-size: 20px;
   padding-bottom: 20px;
}
.instagram, .telegram{
   text-decoration: none;
   color: #FFFFFF;
   padding-left: 20px;
}
.instagramlogo, .telegramlogo{
   width: 15px;
   height: 15px;
}
.info_links_tit{
   margin-top: 30px;
   color: #FFFFFF;
   font-size: 20px;
}
.no, .email{
   color: #FFFFFF;
   font-size: 15px;
   margin-left: 20px;
}
.no{
   margin-top: 20px;
   margin-bottom: 8px;
}
@keyframes fad_in{
   0%{
      opacity: 0;
      left: 40px;
   }
   100%{
      opacity: 1;
      left: 0px;
   }
}